<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>3rd Resume Template</title>
    <style media="screen">
      .template{
        text-align:center;
      }
    </style>
  </head>
  <body>

    <div class="template">
      <h1>3rd Resume Template</h1>
</form>
    <h1><u><%=name%></u></h1>
      <p><b><%=aboutyou%></b></p>
      <p><b>Mobile No:-</b><%=phone%></p>
      <p><b>Email Id:-</b><%=email%></p>
      <p><b>Address:-</b><%=address%></p>
      <p><b>City:-</b><%=city%></p>
      <p><b>pincode:-</b><%=pincode%></p>
      <hr>
      <h1><u>Skills</u></h1>
      <p><p><%= skills %></p></p>
      <hr>
      <h1><u>Education:-</u></h1>
      <p><p><%=ugdegree%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=ugcollege%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=ugyear%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=ugdept%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=ugscore%></p>
<br>
<p><%=hscourse%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=hsschool%> &nbsp;&nbsp;&nbsp;&nbsp;
<%=hsyear%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=hsstream%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=hsscore%>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<br>
<p><%=scourse%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=ssclname%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=syear%>&nbsp;&nbsp;&nbsp;&nbsp;
<%=sscore%>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<hr>
<h2>Previously Worked for <%=cname %>
</h2>
<p><%=startingdate %> to
<%=endingdate %>
</p><p>Description:-<%= pwjd %></p>
<hr>
<h2>Acheivements <%=cname %>
</h2>
<p><%=awards %> to
<%=endingdate %>
</p>
    </div>
  </body>

</html>
